.center{
  display: table;
  margin: 0 auto;


  .button{
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: 1px black solid;
    background-color: transparent;
    margin-left: 5px;

  }
  .button:hover{
    background-color: rgba(255,255,255,0.5);
    color: black;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border: 2px black solid;
  }
  input[type="text"], input[type="password"]{
    background-color: transparent;
    border: 0;
    border-bottom: 1px black solid;
    color: black;
  }
}

body {
  background-size: cover;
}
#video_bg {

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1000;

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
