$bgcolor : #161823;
body{
  background-color: $bgcolor;
}

.image {

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  position:relative;

}

.parent {
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
  background: linear-gradient(to right, rgba(255,35,102,0.5), rgba(141,77,232,0.5));

  height: 200px;
  position: absolute;
  bottom:-50px;
  width:100%;
}

.parent > .child {
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);

}

.post {
  h1, p{
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    color : white;
  }
  hr{
    width: 90%;
  }

}